@model IEnumerable<CoVaccinate.now.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1 class="main__heading">Appointment <span>Status</span></h1>

    <a class="button button__create" asp-action="Create">
    Add Appointment Status<i class="ri-add-line create__icon"></i>
    </a>

<table class="table table-striped table-responsive-xl border rounded-lg">
    <thead>
        <tr>
            <th class="pt-3 pb-3 text-center">
                @Html.DisplayNameFor(model => model.AppointmentModel.AppointmentDate)
            </th>
            <th class="pt-3 pb-3 text-center">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td class="pt-3 pb-3 text-center">
                @Html.DisplayFor(modelItem => item.AppointmentModel.AppointmentDate)
            </td>
            <td class="pt-3 pb-3 text-center">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="modification__icons">
                <a asp-action="Edit" asp-route-id="@item.ReportId"><i class="ri-edit-box-line modify_icon"></i></a> 
                <a asp-action="Details" asp-route-id="@item.ReportId"><i class="ri-eye-fill modify_icon"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.ReportId"><i class="ri-delete-bin-line modify_icon"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
