@model IEnumerable<CoVaccinate.now.Models.VaccineDose>

@{
    ViewData["Title"] = "Vaccine Dose";
}

<h1 class="py-5 main__heading">Vaccine <span>Doses</span></h1>

<div class="operations">
    <a class="button button__create" asp-action="Create">
        Create Vaccine Dose<i class="ri-add-line create__icon"></i>
    </a>

</div>
<table class="table table-striped table-responsive-xl border rounded-lg">
    <thead>
        <tr>
            <th class="pt-3 pb-3 text-center">
                @Html.DisplayNameFor(model => model.VaccineDoses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="pt-3 pb-3 text-center">
                @Html.DisplayFor(modelItem => item.VaccineDoses)
            </td>
            <td class="modification__icons">
                <a asp-action="Edit" asp-route-id="@item.VaccineDoseId"><i class="ri-edit-box-line modify_icon"></i></a> 
                <a asp-action="Details" asp-route-id="@item.VaccineDoseId"><i class="ri-eye-fill modify_icon"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.VaccineDoseId"> <i class="ri-delete-bin-line modify_icon"></i></a> 
            </td>
        </tr>
}
    </tbody>
</table>
