@model IEnumerable<CoVaccinate.now.Models.VaccineCentre>

@{
    ViewData["Title"] = "Index";
}

<h1 class="main__heading">Vaccine <span>Centres</span></h1>

    <a class="button button__create" asp-action="Create">
        Create Vaccine Centres<i class="ri-add-line create__icon"></i>
    </a>
   
    <table class="table table-striped table-responsive-xl border rounded-lg">
        <thead>
            <tr>
                <th class="pt-3 pb-3 text-center">
                    @Html.DisplayNameFor(model => model.VaccineCentreName)
                </th>
                <th class="pt-3 pb-3 text-center">
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th class="pt-3 pb-3 text-center">
                    @Html.DisplayNameFor(model => model.ZIPCode)
                </th>
                <th class="pt-3 pb-3 text-center"> 
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="pt-3 pb-3 text-center">
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th class="pt-3 pb-3 text-center">
                    @Html.DisplayNameFor(model => model.longitude)
                </th>
                <th class="pt-3 pb-3 text-center">
                    @Html.DisplayNameFor(model => model.latitude)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="pt-3 pb-3 text-center">
                        @Html.DisplayFor(modelItem => item.VaccineCentreName)
                    </td>
                    <td class="pt-3 pb-3 text-center">
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="pt-3 pb-3 text-center">
                        @Html.DisplayFor(modelItem => item.ZIPCode)
                    </td>
                    <td class="pt-3 pb-3 text-center">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="pt-3 pb-3 text-center">
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                    </td>
                    <td class="pt-3 pb-3 text-center">
                        @Html.DisplayFor(modelItem => item.longitude)
                    </td>
                    <td class="pt-3 pb-3 text-center">
                        @Html.DisplayFor(modelItem => item.latitude)
                    </td>
                    <td class="modification__icons">
                        <a asp-action="Edit" asp-route-id="@item.VaccineCentreId"><i class="ri-edit-box-line modify_icon"></i></a>
                        <a asp-action="Details" asp-route-id="@item.VaccineCentreId"><i class="ri-eye-fill modify_icon"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.VaccineCentreId"><i class="ri-delete-bin-line modify_icon"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
