@model CoVaccinate.now.Models.Vaccine

@{
    ViewData["Title"] = "Details";
}

<h1 class="py-3 main__heading">Details</h1>

<div>
    <h4 class="subheading">Vaccine</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AgeGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgeGroup.RecommendedAgeGroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VaccineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineDose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VaccineDose.VaccineDoses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VaccineID" class="btn btn-success">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
