@model IEnumerable<CoVaccinate.now.Models.Vaccine>

@{
    ViewData["Title"] = "Immunization Schedule - Admin";
}

<h1 class="py-5 vaccine__heading"> Immunization <span>Schedule</span></h1>

<a class="button button__create" asp-action="Create">
    Create Vaccine<i class="ri-add-line create__icon"></i>
</a>

<table class="table table table-striped table-responsive-xl border rounded-lg">
    <thead>
        <tr>
            <th class="pt-3 pb-3 text-center">
                @Html.DisplayNameFor(model => model.AgeGroup)
            </th>
            <th class="pt-3 pb-3 text-center">
                @Html.DisplayNameFor(model => model.VaccineName)
            </th>
            <th class="pt-3 pb-3 text-center">
                @Html.DisplayNameFor(model => model.VaccineDose)
            </th>
            <th class="pt-3 pb-3 text-center">
                @Html.DisplayNameFor(model => model.SpecialNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="pt-3 pb-3 text-center">
                @Html.DisplayFor(modelItem => item.AgeGroup.RecommendedAgeGroup)
            </td>
            <td class="pt-3 pb-3 text-center">
                @Html.DisplayFor(modelItem => item.VaccineName)
            </td>
            <td class="pt-3 pb-3 text-center">
                @Html.DisplayFor(modelItem => item.VaccineDose.VaccineDoses)
            </td>
            <td class="pt-3 pb-3 text-center">
                @Html.DisplayFor(modelItem => item.SpecialNote)
            </td>

            <td class="modification__icons">
                <a asp-action="Edit" asp-route-id="@item.VaccineID"> <i class="ri-edit-box-line modify_icon"></i></a>
                <a asp-action="Details" asp-route-id="@item.VaccineID"><i class="ri-eye-fill modify_icon"></i></a>
                <a asp-action="Delete" asp-route-id="@item.VaccineID"><i class="ri-delete-bin-line modify_icon"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
